.clear-button {
  display: flex;
  height: 4em;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4em;
  background-color: rgb(188, 188, 235);
  color: black;
  flex: 1;
  outline: 1px solid black;
}
